databases/
example_webmap/
NSWBoredatabase.db
WMPtt18images/
levels.html
lithology.html
__pycache__
Cowal_levels.html
Cowal_litho.html
NTBoreDatabase.db
QLDBoreDatabase.db
SABoreDatabase.db
VICBoreDatabase.db
WABoreDatabase.db
Wyong_NGIS_Geology.csv
Wyong_NGIS_Hole.csv
_images/
example_python_and_html/
local.bat
older_versions/
test/
tester2.html
